main{
    padding: 50px;
}

.cactus{
    width: 100%;
    border-radius: 35px;
}

.image{
    width: 100%;
}

.button{
    border-radius: 100px;
    background-color: rgba(171, 101, 237, 0.263);
    border: none;
    width: 240px;
   height: 55px;
   margin-top: 37px;
}

.design{
    color: blueviolet;
    font-family: "Sora", sans-serif;
    margin-top: 0px;
    font-size: smaller;
    font-weight: bolder;
}

.title{
    font-family: "Sora", sans-serif;
    margin-bottom: 9px;
}

hr{
    margin-top:    40px;
    margin-bottom: 40px;
}

.description{
    font-family: "Sora";
    color: rgba(128, 128, 128, 0.701);
    font-weight: lighter;
    margin-top: 0px;
}
